.row {
  margin-bottom: 1rem;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#files {
  overflow-y: scroll !important;
  min-height: 320px;
}

@media (min-width: 768px) {
  #files {
    min-height: 0;
  }
}
#debug {
  overflow-y: scroll !important;
  height: 180px;
}

.dm-uploader {
  border: 0.25rem dashed #a5a5c7;
  text-align: center;
  background: white;
}
.dm-uploader.active {
  border-color: red;

  border-style: solid;
}
